<div class="row">
<div class="col-md-12">
<div class="navbar navbar-default" style="padding-top:10px;">
    <div class="row">
    <div class="navbar-collapse collapse">
    	<div class="row">
    	<nav>
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			<div class="col-md-2"><a href="#">Baby Care</a></div>
			<div class="col-md-2"><a href="#">Clothing</a></div>
			<div class="col-md-2"><a href="#">Groceries</a></div>
			<div class="col-md-2"><a href="#">Personal Care</a></div>
			<div class="col-md-2"><a href="#">Electronics</a></div>
			<div class="col-md-2"><a href="#">Visual Assistants</a></div>
		</div>
		<div class="col-md-1"></div>
		</nav>
		</div>
		
    </div>
    </div>
</div>
</div>
</div>